<div id="group_page">

	<div id="group_information">
		<div id="group_main_info">
			<input type="text" value="<%= @group.group_name %>" id="group_name" class="edit_field" />
			<input type="text" value="<%= @group.group_desc %>" id="group_desc" class="edit_field" />
			<input type="text" value="<%= @group.group_type %>" id="group_type" class="edit_field" />
		</div><!-- #group_main_info -->


		<div id="group_details">
			<input type="text" value="<%= @group.address_street %>" id="address_street" class="edit_field" />
			<input type="text" value="<%= @group.address_state %>" id="address_state" class="edit_field" />
			<input type="text" value="<%= @group.address_zipcode %>" id="address_zipcode" class="edit_field" />
			
			<input value="<%= @group.id %>" id="id" hidden="true"/>
		</div><!-- #group_details -->
	</div><!-- #group_information -->

	<div id="add_task_container">
		<%= form_for(@task, :as => :task, :url => '/tasks', :html => {:id => 'add-task-form'}, :format => :json, :remote => true) do |f| %>
			<%= f.label "Task" %>
			<%= f.text_field :name %>
			<%= f.label "Description" %>
			<%= f.text_area :desc %>
			<%= f.label "Priority" %>
			<%= f.text_field :priority %>
			<%= f.label "Due:" %>
			<%= f.datetime_field :due_at %>
			<%= f.label "Category:" %>
			<%= f.select :category, [['Chore', 'chore'],['Pick-up', 'pick-up'],['Grocery', 'grocery'],['Todo', 'todo']] %>
			<%= f.label "Assign to:" %>
			<%= f.select(:owner_id, options_from_collection_for_select(@members, :id, :firstname)) %>
			<%= f.hidden_field :creator_id, value: current_user.id %>
			<%= f.submit "Create Task" %>
		<% end %>
	</div><!-- #add_task_container -->

	<div id="group-tasks-placeholder">

		<div id="todo-tasks-placeholder" class="group_tasks">
			<h1>Tasks ToDo</h1>
			<% @tasks_todo.each do |task| %>
				<div id="task-placeholder">
					<ul>
						<li><a href="/tasks/<%= task.id %>"><b><%= task.name %></b></a></li>
						<li><%= task.desc %></li>
						<li>Priority: <%= task.priority %></li>
						<li>Category: <%= task.category %></li>
						<li>Karma Value: <%= task.karma_value %></li>
						<li>
							<!-- there is no task owner in the list of stuff needed to be done -->
							<% if task.owner %>
								Task Owner: <%= task.owner.firstname %>
							<% else %>
								Task Owner: not assigned
							<% end %>
						</li>
					</ul>
				</div><!--# task-placeholder -->
			<% end %>
		</div><!-- todo-tasks-placeholder -->

		<div id="tasks-in-progress-placeholder" class="group_tasks">
			<h1>In Progress</h1>
			<% @tasks_in_prog.each do |task| %>
				<ul>
					<li><a href="/tasks/<%= task.id %>">LINK TO TASK</a></li>
					<li><%= task.name %></li>
					<li><%= task.priority %></li>
					<li><%= task.category %></li>
					<li><%= task.karma_value %></li>
					<li>
						<% if task.owner %>
							<%= task.owner.firstname %>
						<% else %>
							Not assigned
						<% end %>
					</li>
				</ul>
			<% end %>
		</div><!-- #tasks-in-progress-placeholder -->

		<div id="completed-tasks-placeholder" class="group_tasks">
			<h1>Completed Tasks</h1>
			<% @completed_tasks.each do |task| %>
				<ul>
					<li><a href="/tasks/<%= task.id %>">LINK TO TASK</a></li>				
					<li><%= task.name %></li>
					<li><%= task.priority %></li>
					<li><%= task.category %></li>
					<li><%= task.karma_value %></li>
					<li>
						<!-- there should definietely be a task owner, (conditional uncessary) -->
						<% if task.owner %>
							<%= task.owner.firstname %>
						<% else %>
							Not assigned
						<% end %>
					</li>
				</ul>
			<% end %>
		</div><!-- # completed-tasks-placeholder -->

	</div><!-- group-tasks-placeholder -->

	<div id="group-members-placeholder">
		<% if @is_creator %>
			<div id="add_member_container">
			<%= form_for(@member, :as => :new_members, :method => "post", :url => "/groups/add_member", :html => {:id => "add_member_form"}, :format => :json, :remote => true) do |f| %>
				<%= f.text_field :email %>
				<%= f.hidden_field :group_id, value: @group.id %>
				<%= f.submit "invite" %>
			<% end %>
			</div><!-- #add_member_container -->
		<% end %>

		<div id="member-wrap-placeholder">
			<% @members.each do |member| %>
				<div class="group_member_box">
					<img class="member_photo" src="<%= member.prof_pic %>" />
					<ul>
						<li><%= member.firstname %> <%= member.lastname %></li>
						<li><%= member.nickname %></li>
						<li><%= member.username %></li>
						<li><%= member.phone_num %></li>
					</ul>
				</div><!-- .group_member_box -->
			<% end %>
		</div><!-- #member-wrap-placeholder -->
	</div><!-- #group-members-placeholder -->
</div><!-- #group_page -->


<script type="text/javascript" src="/assets/groups.js"></script>

<script id="group_members_template" type="text/x-handlebars-template">
	<div class="group_member_box">
		<img class="member_photo" src="{{prof_pic}}" />
		<ul>
				<li>{{firstname}} {{lastname}}</li>
				<li>{{nickname}}</li>
				<li>{{username}}</li>
				<li>{{phone_num}}</li>
			</ul>
	</div>
</script>