<!-- add authenticity token -->
<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
<!-- check if user signed in -->
<% if current_user %>
  <%= javascript_tag "window._current_user_username = '#{current_user.username}';" %>
<% else %>
  <%= javascript_tag "window._current_user_username = '';" %>
<% end %>

<!-- menu -->
<div id="login-wrap">
  <div id="logged_in_menu" class="inactive">
    <%= link_to 'Update Profile', edit_user_registration_path %> | 
    <a href="#" id="logout_link">Logout</a>
  </div>
  <div id="logged_out_menu" class="inactive">
    <div id="sign-up-cont" data-reveal-id="sign_up_modal">Sign Up</div> | 
    <a href="#" data-reveal-id="sign_in_modal">Sign In</a>
    <div id="sign-in-cont"><%= link_to "Sign In", new_user_session_path %></div>
  </div>
</div>

<!-- slideout modals -->

<%= render partial: "sign_up" %>
<%= render partial: "sign_in" %>