<div id="user-wrap">
	<div id="photo_container">
		<% if @user.prof_pic %>
			<img id="profile_pic" src="<%= @user.prof_pic %>" width="300" height="300" />
		<% else %>
			<div style="width:300;height:300;background:black;"></div>
		<% end %>
	</div><!-- #photo_container -->

	<div id="user-cont">

		<div class="profile_info">
			<div id="firstname"><%= @user.firstname %></div>
			<div id="lastname"><%= @user.lastname %></div>
			<div id="username"><%= @user.username %></div>
			<div id="email"><%= @user.email %></div>
			<div id="phone_num"><%= @user.phone_num %></div>
		</div><!-- .profile_info -->

		<div class="profile_info">
			<ul>
				<li>Karma</li>
				<li>Flakes</li>
			</ul>
		</div><!-- .profile_info -->

	</div><!-- #user-cont -->

		<div id="user-data-placeholder">
			<h1>USER DATA</h1>
			<ul>
				<li><%= @user.firstname %> <%= @user.lastname %></li>
				<li><%= @user.username %></li>
				<li><%= @user.email %></li>
			</ul>
			<ul>
				<li><%= @user.phone_num %></li>
				<li>Karma: <%= (@user.ownertasks.count + @user.creatortasks.count) - @user.flakertasks.count %></li>
				<li>Flakes: <%= @user.flakertasks.count %></li>
			</ul>
		</div>
		<div id="user-groups-data-placeholder">
			<h1>USER GROUP DATA</h1>
			<h3 id="add_group">Add a Group</h3>
			<div id="add_group_cont">
				<%= form_for(@group, :as => group_name, :url => '/groups/create', :html => {:id => "add_group_form"}, :format => :json,:remote => true) do |f| %>
					<%= f.label "Name of group" %>
					<%= f.name_field :group_name %>
					<%= f.label "" %>

				<% end %>

			</div>
			<% @user.groups.each do |group| %>
				<div id="<%= group.id %>" class="group-box-placeholder">
					<ul>
						<li><a href="/groups/<%= group.id %>">TO GROUP LINK</a></li>
						<li><%= group.group_name %></li>
						<li><%= group.group_desc %></li>
						<li><%= group.homebase_location %></li>
						<li><%= group.group_type %></li>
					</ul>
				</div>
			<% end %>
		</div>
		<div id="user-tasks-data-placeholder">
			<h1>USER TASK DATA</h1>
			<div id="todo-placeholder">
				<h1>TASKS TODO</h1>
				<ul>
					<% @todo_tasks.each do |todo| %>
						<li><%= todo.name %></li>
						<li><%= todo.priority %></li>
						<li><%= todo.category %></li>
						<li><%= todo.cost %></li>
						<li><%= todo.estimated_time %></li>
					<% end %>
				</ul>
			</div>
			<div id="done-placeholder">
				<h1>COMPLETED TASKS</h1>
				<ul>
					<% @completed_tasks.each do |comp| %>
						<li><%= comp.name %></li>
						<li><%= comp.priority %></li>
						<li><%= comp.category %></li>
						<li><%= comp.cost %></li>
						<li><%= comp.estimated_time %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

</div><!-- #user-wrap -->
