<div id="user_page">

	<div id="user-wrap">
		<div id="photo_container">
			<% if @user.prof_pic %>
				<img id="profile_pic" src="<%= @user.prof_pic %>"/>
			<% else %>
				<div id="profile_pic"></div>
			<% end %>
		</div><!-- #photo_container -->

		<div id="user-cont">
			<img id="photo_lg" src="<%= @user.prof_pic %>"/>
			<div class="profile_info">
				<input type="text" value="<%= @user.username %>" id="username" class="edit_field"/>
				<input type="text" value="<%= @user.firstname %>" id="firstname" class="edit_field" />
				<input type="text" value="<%= @user.lastname %>" id="lastname" class="edit_field" />
				<input type="text" value="<%= @user.email %>" id="email" class="edit_field" />
				<input type="text" value="<%= @user.phone_num %>" id="phone_num" class="edit_field" />
			</div><!-- .profile_info -->

			<div class="profile_info">
				<ul>
					<li>Karma: <%= (@user.ownertasks.count + @user.creatortasks.count) - @user.flakertasks.count %></li>
					<li>Flakes: <%= @user.flakertasks.count %></li>
				</ul>
			</div><!-- .profile_info -->

		</div><!-- #user-cont -->
	</div><!-- #user-wrap -->


	<div id="user-data-placeholder">
		
		<div id="user-groups-data-placeholder">
			<h2 id="add-group">Groups</h2><i id="add-icon" class="fa fa-plus-square-o"></i> 
			<div id="add-group-cont">
				<%= form_for(@group, :as => :group, :url => '/groups', :html => {:id => "add-group-form"}, :format => :json,:remote => true) do |f| %>
					<%= f.label "Group name" %>
					<%= f.text_field :group_name %>
					<%= f.label "Description" %>
					<%= f.text_field :group_desc %>
					<div id="add-group-form-address">
						<%= f.label "Street" %>
						<%= f.text_field :address_street %>
						<%= f.label "State" %>
						<%= f.text_field :address_state %>
						<%= f.label "Zipcode" %>
						<%= f.text_field :address_zipcode %>
					</div>
					<%= f.label "Group type" %>
					<%= f.text_field :group_type %>
					<%= f.submit "Create Group" %>
				<% end %>
			</div><!-- #user-groups-data-placeholder -->
			<div id="groups-cont">
				<% @user.groups.each do |group| %>
					<div id="<%= group.id %>" class="group-box-placeholder" style="color:black;">
						<a href="/groups/<%= group.id %>">
							<p><b><%= group.group_name %></b></p>
							<p><%= group.group_desc %></p>
			
						</a>
					</div><!-- #group.id -->
				<% end %>
			</div>

		</div><!-- #user-groups-data-placeholder -->

		<div id="user-tasks-data-placeholder">
			
			<div id="todo-placeholder">
				<h1>Tasks ToDo</h1>
				<% @todo_tasks.each do |todo| %>
					<a href="/tasks/<%= todo.id %>"><div class="todo-task">
						<ul>
							<li><b><%= todo.name %></b></li>
							<li>Category: <%= todo.category %></li>
							<li>Priority: <%= todo.priority %></li>
							<li>Estimated time: <%= todo.estimated_time %></li>
							<li>Cost: $<%= todo.cost %></li>
						</ul>
					</div></a>
				<% end %>
			</div><!-- #todo-placeholder -->

			<div id="done-placeholder">
				<h1>Completed Tasks</h1>
				<% @completed_tasks.each do |comp| %>
				<a href="/tasks/<%= comp.id %>"><div class="completed-tasks">	<h1>Completed Tasks</h1>
					<ul>
						<li><b><%= comp.name %></b></li>
						<li>Priority: <%= comp.priority %></li>
						<li>Category: <%= comp.category %></li>
						<li>Cost: $<%= comp.cost %></li>
						<li>Estimated time: <%= comp.estimated_time %></li>
					</ul>
				<% end %>
			</div><!-- #done-placeholder -->

		</div><!-- #user-tasks-data-placeholder -->
	</div><!-- #user-data-placeholder -->

</div>
