<div id="user_page">

	<div id="user-wrap">
		<div id="photo_container">
			<% if @user.prof_pic %>
				<img id="profile_pic" src="<%= @user.prof_pic %>"/>
			<% else %>
				<div id="profile_pic"></div>
			<% end %>
		</div><!-- #photo_container -->

		<div id="user-cont">
			<img id="photo_lg" src="<%= @user.prof_pic %>"/>
			<div class="profile_info">
				<input type="text" value="<%= @user.username %>" id="username" class="edit_field"/>
				<input type="text" value="<%= @user.firstname %>" id="firstname" class="edit_field" />
				<input type="text" value="<%= @user.lastname %>" id="lastname" class="edit_field" />
				<input type="text" value="<%= @user.email %>" id="email" class="edit_field" />
				<input type="text" value="<%= @user.phone_num %>" id="phone_num" class="edit_field" />
			</div><!-- .profile_info -->

			<div class="profile_info">
				<ul>
					<li>Karma: <%= (@user.ownertasks.count + @user.creatortasks.count) - @user.flakertasks.count %></li>
					<li>Flakes: <%= @user.flakertasks.count %></li>
				</ul>
			</div><!-- .profile_info -->

		</div><!-- #user-cont -->
	</div><!-- #user-wrap -->


	<div id="user-data-placeholder">
		
		<div id="user-groups-data-placeholder">

			<h2>Groups</h2>

			<h1>USER GROUP DATA</h1>
			<h3 id="add-group">Add a Group</h3>
			<div id="add-group-cont" style="background:navy; color:white; display:none;">
				<%= form_for(@group, :as => :group, :url => '/groups', :html => {:id => "add-group-form"}, :format => :json,:remote => true) do |f| %>
					<%= f.label "Name of group" %>
					<%= f.text_field :group_name %>
					<%= f.label "Description" %>
					<%= f.text_field :group_desc %>
					<div id="add-group-form-address">
						<%= f.label "Homebase street" %>
						<%= f.text_field :address_street %>
						<%= f.label "Homebase zipcode" %>
						<%= f.text_field :address_zipcode %>
						<%= f.label "Homebase state" %>
						<%= f.text_field :address_state %>
					</div>
					<%= f.label "Type of group" %>
					<%= f.text_field :group_type %>
					<%= f.submit "Create Group" %>
				<% end %>
			</div><!-- #user-groups-data-placeholder -->
			<div id="groups-cont">
				<% @user.groups.each do |group| %>
					<div id="<%= group.id %>" class="group-box-placeholder" style="color:black;">
						<ul>
							<li><a href="/groups/<%= group.id %>">TO GROUP LINK</a></li>
							<li><%= group.group_name %></li>
							<li><%= group.group_desc %></li>
							<li><%= group.homebase_location %></li>
							<li><%= group.group_type %></li>
						</ul>
					</div><!-- #group.id -->
				<% end %>
			</div>

		</div><!-- #user-groups-data-placeholder -->

		<div id="user-tasks-data-placeholder">
			
			<div id="todo-placeholder">
				<h1>Tasks ToDo</h1>
				<ul>
					<% @todo_tasks.each do |todo| %>
						<li><b><%= todo.name %></b></li>
						<li><%= todo.group_id %></li>
						<li>Priority: <%= todo.priority %></li>
						<li>Category: <%= todo.category %></li>
						<li>Cost: $<%= todo.cost %></li>
						<li>Estimated time: <%= todo.estimated_time %></li>
					<% end %>
				</ul>
			</div><!-- #todo-placeholder -->

			<div id="done-placeholder">
				<h1>Completed Tasks</h1>
				<ul>
					<% @completed_tasks.each do |comp| %>
						<li><b><%= comp.name %></b></li>
						<li>Priority: <%= comp.priority %></li>
						<li>Category: <%= comp.category %></li>
						<li>Cost: $<%= comp.cost %></li>
						<li>Estimated time: <%= comp.estimated_time %></li>
					<% end %>
				</ul>
			</div><!-- #done-placeholder -->

		</div><!-- #user-tasks-data-placeholder -->
	</div><!-- #user-data-placeholder -->

</div>
