<div id="user_page">

	<div id="user-wrap">
		<div id="photo_container">
			<% if @user.prof_pic %>
				<img id="profile_pic" src="<%= @user.prof_pic %>" width="300" height="300" />
			<% else %>
				<div style="width:300;height:300;background:black;"></div>
			<% end %>
		</div><!-- #photo_container -->

		<div id="user-cont">

			<div class="profile_info">
				<div id="firstname"><%= @user.firstname %></div>
				<div id="lastname"><%= @user.lastname %></div>
				<div id="username"><%= @user.username %></div>
				<div id="email"><%= @user.email %></div>
				<div id="phone_num"><%= @user.phone_num %></div>
			</div><!-- .profile_info -->

			<div class="profile_info">
				<ul>
					<li>Karma: <%= (@user.ownertasks.count + @user.creatortasks.count) - @user.flakertasks.count %></li>
					<li>Flakes: <%= @user.flakertasks.count %></li>
				</ul>
			</div><!-- .profile_info -->

		</div><!-- #user-cont -->
	</div><!-- #user-wrap -->


	<div id="user-data-placeholder">
		
		<div id="user-groups-data-placeholder">
<<<<<<< HEAD
			<h2>Groups</h2>
=======
			<h1>USER GROUP DATA</h1>
			<h3 id="add_group">Add a Group</h3>
			<div id="add_group_cont">
				<%= form_for(@group, :as => group_name, :url => '/groups/create', :html => {:id => "add_group_form"}, :format => :json,:remote => true) do |f| %>
					<%= f.label "Name of group" %>
					<%= f.name_field :group_name %>
					<%= f.label "" %>

				<% end %>

			</div>
>>>>>>> bac6823687a40e6b09a031357c5db75a22908d1e
			<% @user.groups.each do |group| %>
				<div id="<%= group.id %>" class="group-box-placeholder">
					<ul>
						<li><a href="/groups/<%= group.id %>">TO GROUP LINK</a></li>
						<li><%= group.group_name %></li>
						<li><%= group.group_desc %></li>
						<li><%= group.homebase_location %></li>
						<li><%= group.group_type %></li>
					</ul>
				</div><!-- #group.id -->
			<% end %>
		</div><!-- #user-groups-data-placeholder -->

		<div id="user-tasks-data-placeholder">
			
			<div id="todo-placeholder">
				<h1>Tasks ToDo</h1>
				<ul>
					<% @todo_tasks.each do |todo| %>
						<li><b><%= todo.name %></b></li>
						<li>Priority: <%= todo.priority %></li>
						<li>Category: <%= todo.category %></li>
						<li>Cost: $<%= todo.cost %></li>
						<li>Estimated time: <%= todo.estimated_time %></li>
					<% end %>
				</ul>
			</div><!-- #todo-placeholder -->

			<div id="done-placeholder">
				<h1>Completed Tasks</h1>
				<ul>
					<% @completed_tasks.each do |comp| %>
						<li><b><%= comp.name %></b></li>
						<li>Priority: <%= comp.priority %></li>
						<li>Category: <%= comp.category %></li>
						<li>Cost: $<%= comp.cost %></li>
						<li>Estimated time: <%= comp.estimated_time %></li>
					<% end %>
				</ul>
			</div><!-- #done-placeholder -->

		</div><!-- #user-tasks-data-placeholder -->
	</div><!-- #user-data-placeholder -->

</div>
