<div id="sign_in_modal" class="reveal-modal medium login_form">
  <h3>Sign in</h3>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => "sign_in_user"}) do |f| %>
    <%= devise_error_messages! %>

    <p class="field">
      <%= f.email_field :email, :autofocus => true, placeholder: "username or email" %>
      <i class="fa fa-user fa-lg"></i>
    </p>

    <p class="field">
      <%= f.password_field :password, placeholder: "password" %>
      <i class="fa fa-lock fa-lg"></i>
    </p>

    <% if devise_mapping.rememberable? -%>
     <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <p class="submit">
      <%= f.submit "sign in" %>
    </p>

  <% end %>
  <a href="/users/password/new">Got a bad memory?</a>
</div>